<html>
    <header>
        <title>时速云(tenxcloud)容器映射端口列表</title>
        <style>
            table{border:1px solid;border-collapse:collapse;}
            tr{border:1px solid}
            td{border:1px solid}
        </style>
        {{include 'web2py_ajax.html'}}
        <script>
            function refresh(){
                $.ajax({
                    url:"/{{=request.application}}/{{=request.controller}}/refresh",
                    success:function(data){
                        if("ok"==data){
                            alert("刷新成功")
                        }else{
                            alert("刷新失败："+data)
                        }
                    }
                })
            }
        </script>
    </header>
    <body>
        <table>
            {{for region in regions:}}
            <tr>
                <td colspan="3">
                    <h2>{{=region["displayName"] }}</h1>
                </td>
            </tr>
            {{for service in region["service"].select(db.service.ALL):}}
            <tr>
                <td colspan="3">
                    <b>{{=service["name"]}}</b>
                </td>
            </tr>
            {{for port in service["port_mapping"].select(db.port_mapping.ALL):}}
            <tr>
                <td>
                    {{=port["protocol"]}}
                </td>
                <td>
                    {{=port["port"]}}
                </td>
                <td>
                    <a href="http://{{=port["url"]}}" target="_blank">{{=port["url"]}}</a>
                </td>
            </tr>
            {{pass}}
            {{pass}}
            {{pass}}
        </table>
        <table>
            <tr>
                <td>
                    <input type="button" value="刷新端口信息" onclick="refresh()"/>
                </td>
            </tr>
        </table>
    </body>
</html>